<nav class="navbar navbar-default" ng-controller="menuController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-logo" href="{{logo.link}}"><img class="navbar-logo" ng-src="{{logo.src}}" alt="{{logo.alt}}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="button in buttons" ng-class="{dropdown: button.isDropdown}">
                    <a href="{{button.link}}" ng-if="!button.isDropdown">{{button.label}}</a>
                    <a href="#" ng-if="button.isDropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{button.label}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" ng-if="button.isDropdown">
                        <li ng-repeat="type in button.types">
                            <a href="#">{{type}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
